@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family:sans-serif;
}

@keyframes ticker {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.ticker-animation {
  animation: ticker 20s linear infinite;
}

