@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family:sans-serif;
}

@keyframes ticker {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.ticker-animation {
  animation: ticker 20s linear infinite;
}

@keyframes dotPulse {
  0%, 100% {
    transform: scale(1);
    shadow: 0 0 5px rgba(239, 68, 68, 0.5);
  }

  50% {
    transform: scale(1.5);
    shadow: 0 0 15px rgba(239, 68, 68, 0.9);
  }
}

