* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary-color:#fff;
    --text-color:#111111;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:sans-serif;
}

@keyframes ticker {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.ticker-animation {
  animation: ticker 20s linear infinite;
}

